@charset "utf-8";
@import "../config/_base_setting";

/*-----------------------------------------------
 __header
-----------------------------------------------*/

.md_header {
}


.md_glnavi__triger {
    position: relative;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 999999;
    &:hover {
        background: #eee;
    }
    span {
        display: block;
        width: 36px;
        height: 2px;
        border-radius: 4px;
        background: #000;
        position: absolute;
        left: 12px;
        top: 18px;
        &:nth-child(1) {
            animation: glnavi__triger1 6s ease-in-out 0s infinite;
        }
        &:nth-child(2) {
            top: 26px;
            width: 27px;
            animation: glnavi__triger2 6s ease-in-out .15s infinite;
        }
        &:nth-child(3) {
            top: 34px;
            width: 18px;
            animation: glnavi__triger3 6s ease-in-out .3s infinite;
        }
    }
    @keyframes glnavi__triger1 {
        0%{
            left: 12px;
            opacity:1;
            width: 36px;
        }
        5%,15%{
            left:-5px;
            opacity:0;
            width: 0;
        }
        20%{
            left: 12px;
            opacity:1;
            width: 36px;
        }
        100%{
            opacity:1;
            width: 36px;
        }
    }
    @keyframes glnavi__triger2 {
        0%{
            left: 12px;
            opacity:1;
            width: 27px;
        }
        5%,15%{
            left:-5px;
            opacity:0;
            width: 0%;
        }
        20%{
            left: 12px;
            opacity:1;
            width: 27px;
        }
        100%{
            opacity:1;
            width: 27px;
        }
    }
    @keyframes glnavi__triger3 {
        0%{
            left: 12px;
            opacity:1;
            width: 18px;
        }
        5%,15%{
            left:-5px;
            opacity:0;
            width: 0%;
        }
        20%{
            left: 12px;
            opacity:1;
            width: 18px;
        }
        100%{
            opacity:1;
            width: 18px;
        }
    }
}



































