@charset "utf-8";

$c1: #000;
$c2: #000;
$c3: #000;
$c4: #000;
$c5: #000;
$c6: #000;
$c7: #000;
$c8: #000;

$base_font__color: #333;
$link-color: #21759b;
$formcolor: #3B5998;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;

